.clock {
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    list-style-type: none;
    font-size: 2.3em;
    
}

body {
    width: 1140px;
    margin: auto;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
@media screen and (max-width:1245px){
    body {
        width:100%;
    }
}
/* Header */

header {
    margin-top: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* Háttér - parallax effekt*/
    background-image: url("../img/bcg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    /*margin-top: -8px;
    margin-right: -8px;
    margin-left: -8px;*/
    border-bottom: 5px solid #3f3f3f;
}
.header-content {
    text-align: center;
    color: #3f3f3f;
    font-family: 'Alegreya Sans', sans-serif;
}

/*clock*/

.jumbotron2 {
    background-color: #3f3f3f;
    width: 100%;
    
    
    
}
/*content*/

.h2-1, .h3-1 {
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
}
.p-1 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1em;
}
section {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
    
}

/* Test Text */

.text-1 {
    width: 45%;
    margin: auto;
    text-align: center;
}
@media screen and (max-width:1245px){
    .table-1 {
        width:100%;
        margin: auto;
    }
    .text-1 {
        width: 100%;
    }
}
.text-1 p{
    font-size: 1.1em;
}


/* Table */

.table-1 {
   /* width: 45%;*/
    margin: auto;
}
.table-1 {
    width:auto;
}
.select-css-color, .select-css-drink, .select-css-cigar, .select-css-animal, .select-css-nation {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #6896b0;
    color: #ffffff;
}

.td-first {
    padding-left: 5px;
    padding-right: 5px;
}
.select-base {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    
}

/* Footer */
footer{
    height: 50px;
    margin-bottom: 50px;
}